<!DOCTYPE html>
<html>
    <head>
        <title> WiFi Data Safari </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div id="app">
            <the-header
                v-bind:networks="networksCount"
                v-bind:stations="stationsCount"
                v-on:eyetoggle="togglePause()"
            ></the-header>
            <div class="data-list">
                <div
                    v-for="d in orderedDevices()"
                    v-bind:key="d.mac"
                    v-bind:data-obj="d">
                    <span v-if="d.privacy">
                        <list-network v-bind:data-obj="d"></list-network>
                    </span>
                    <span v-else>
                        <list-station v-bind:data-obj="d"></list-station>
                    </span>
                </div>
            </div>

        </div>

        <script src="js/vue.js"></script>
        <!-- <script src="js/vue.min.js"></script> -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/the-header.js"></script>
        <script src="js/list-station.js"></script>
        <script src="js/list-station-detail.js"></script>
        <script src="js/list-network.js"></script>
        <script src="js/list-network-detail.js"></script>
        <script src="js/main.js"></script>
        <!-- <script src="js/test-events.js"></script> -->
    </body>
</html>
