<!DOCTYPE html>
<html>
    <head>
        <title> WiFi Data Safari - Map</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/leaflet.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="images/icon.png" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="white">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/icon.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>

        <div id="mapapp">
            <div id="map"></div>
            <div id="devices">
                {{orderedDevices.length}} total devices
                <hr>
                <div
                    v-for="d in orderedDevices"
                    v-bind:key="d.mac"
                    v-on:click="showDataFor(d.mac)">
                    {{ d.mac }} | {{ d.probes.length }}
                    SSID<span v-if="d.probes.length>1">s</span>
                    <span v-if="d.randomMac" class="ranmac">[random MAC]</span>
                </div>
            </div>
        </div>

        <script src="js/vue.js"></script>
        <!-- <script src="js/vue.min.js"></script> -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/leaflet.js"></script>
        <script src="js/turf.min.js"></script>
        <script src="js/map-main.js"></script>
        <!-- <script src="js/test-events.js"></script> -->
    </body>
</html>
